- comments.each do |comment|
  .comment-area
    .user-photo
      photo
      = image_tag(comment.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
    .user-name
      name
      = comment.user.name
    .comment
      comment
      = comment.comment
      -if comment.user.id == current_user.id
        #comment-edit-button
          = link_to "コメントを編集する", edit_prototype_comment_path(comment.prototype, comment), remote: true, id: "#{comment.id}"
        #comment-delete-button
          = link_to "削除", prototype_comment_path(comment.prototype, comment), method: :delete, remote: true
