.col-sm-4.col-md-3.proto-content

  -if current_page? user_path(prototype.user)
    .dropdown.drop_menu_location
      %button.btn.btn-default.dropdown-toggle#dropdownMenu{"data-toggle" => "dropdown"}
        Action
      %ul.dropdown-menu{ aria: {labelledby: "dropdownMenu1"}}
        %li
          = link_to 'Delite', prototype_path(prototype), method: :delete
        %li
          = link_to 'Edit', edit_prototype_path(prototype.id)
  .thumbnail
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user)
        .proto-posted
          = prototype.posted_date
