.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user)
        .proto-posted
          = prototype.posted_date
      .proto-buttons
        / .proto-user
        /   = link_to 'Delite', prototype_path, method: :delete
        .proto-posted
          = link_to 'Edit', edit_prototype_path(prototype.id)
