= render "layouts/jumbotron"

= render "layouts/filter_nav"

.container
  .tag-item
    .btn-tag
      = @tag.tag
    .tag-meta
      .label.label-default.tag-list-number
        = @tag.prototypes.length
        %i Projects
.container.proto-list.js-masonry
  = render partial: 'prototypes/prototype', collection: @prototypes
= paginate(@prototypes)
